body {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

:root {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #747bff;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid black;
  padding: 5px;
  font-size: 1em;
  font-weight: 500;
  color: black;
  font-family: inherit;
  background-color: #f9f9f9;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

code {
  color: indigo;
}

img {
  border: 2px solid indigo;
  border-radius: 4px;
}

ul,
ul li {
  list-style: none;
  padding: 0;
}

.user {
  box-shadow: 0px 0px 8px 0px rgba(34, 60, 80, 0.2);
  padding: 10px;
  min-height: 250px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.pagination {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.main {
  flex: 1 1 auto;
}

.inputs {
  display: flex;
  column-gap: 5px;
}
